<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dong.mapper.UserMapper">
    <select id="getUserById" parameterType="int" resultType="com.dong.pojo.User">
        SELECT * FROM redistest.user WHERE id=#{id};
    </select>
    <select id="getAllUser" resultType="com.dong.pojo.User">
        SELECT * FROM redistest.user;
    </select>
    <insert id="addUser" parameterType="com.dong.pojo.User">
        insert redistest.user (`id`,`name`,`age`) values (#{id},#{name},#{age});
    </insert>
</mapper>
